@model MeetingAuction.Controllers.NavbarViewModel
@{
    Layout = null;
}
<!-- Header -->
<div id="header" class="skel-panels-fixed">
    <div class="top">
        <!-- Logo -->
        <div id="logo">
            <span class="image avatar48"><img src="@Model.ImageLink" alt="" /></span>
            <h1 id="title">@Model.Name</h1>
            <span class="byline">Hyperspace Engineer</span>
        </div>
        <!-- Nav -->
        <nav id="nav1">
            <ul>
                <li>@Html.ActionLink("My page", "MyPage", "Home", new { login = Model.Name }, null)</li>
                <li>@Html.ActionLink("Feed", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("People", "Users", "Home")</li>
            </ul>
        </nav>
        @if (Model.IsProfilePage)
        {
            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="#top" id="top-link" class="skel-panels-ignoreHref"><span class="fa fa-home">Intro</span></a></li>
                    <li><a href="#portfolio" id="portfolio-link" class="skel-panels-ignoreHref"><span class="fa fa-th">Portfolio</span></a></li>
                    <li><a href="#about" id="about-link" class="skel-panels-ignoreHref"><span class="fa fa-user">About Me</span></a></li>
                    <li><a href="#contact" id="contact-link" class="skel-panels-ignoreHref"><span class="fa fa-envelope">Contact</span></a></li>

                </ul>
            </nav>
        }
    </div>
    <div class="bottom">
        <!-- Social Icons -->
        <ul class="icons">
            <li><a href="#" class="fa fa-twitter solo"><span>Twitter</span></a></li>
            <li><a href="#" class="fa fa-facebook solo"><span>Facebook</span></a></li>
            <li><a href="#" class="fa fa-github solo"><span>Github</span></a></li>
            <li><a href="#" class="fa fa-dribbble solo"><span>Dribbble</span></a></li>
            <li><a href="#" class="fa fa-envelope solo"><span>Email</span></a></li>
        </ul>
    </div>
</div>

<style>
    #nav1 ul li a.active {
        background: #000000;
        background: rgba(0,0,0,0.15);
        box-shadow: inset 0 0 0.25em 0 #000000;
        box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
        color: #fff;
    }

    #nav1 ul li a {
        display: block;
        padding: 0.5em 1.5em 0.5em 1.5em;
        color: #ffffff;
        color: rgba(255,255,255,0.5);
        text-decoration: none;
        outline: 0;
        border: 0;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }

    #nav1 ul li a {
        position: relative;
        display: block;
        font-size: 0.8em;
    }
    #nav ul li a:before {
        position: absolute;
        left: 0;
        color: #41484c;
        text-align: center;
        width: 1.25em;
        line-height: 1.75em;
    }
</style>